.section1 {
    width: 100% !important;
    height: 800px;
    display: flex;
    flex-direction: column;
    background: url('../img/bg/header.png') no-repeat;
    background-size: cover;

    &-header {
        width: 100% !important;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-navbar {
            background-color:transparent;
            border-color:transparent;
            background-image:none;
            box-shadow:none;

            &-nav {
                margin: 0 86px;

                &-links {
                    
                    &__item {
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 300;
                        color: #ffffff !important;
                        font-family: "Gotham";
                        text-transform: uppercase;
                        
                        &:not(:last-child) {
                            margin-right: 70px;
                        }

                        &:hover {
                            filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.8));
                            color: rgb(61, 89, 212);
                            opacity: .7;
                        }

                        &:focus {
                            color: rgb(241, 104, 54) !important;    
                        }
                        
                        &-icon {
                            width: 12px;
                            height: 12px;
                            fill: none;
                            stroke: #fff;

                            &:hover {
                                fill: #fff;
                            }

                            &:focus {
                                fill: #fff;   
                            }
                        }
                    }
                }
            }
        }

        &-links {
            width: 130px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            
            &__item {
                &-icon {
                    width: 30px;
                    height: 30px;
                    fill: #fff;

                    &:hover {
                        filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
                        fill: rgb(61, 89, 212);
                        opacity: .8;
                    }

                    &:focus {
                        fill: rgb(79, 216, 235);   
                    }           
                }
            }
        }
    }

    &-main {
        width: 100% !important;
        height: 544px;
        position: relative;
        display: flex;

        &-content {
            width: 100%;
            height: 544px;
            position: relative;       
            display: flex;
            align-items: center;
            flex-direction: column;

            &__title {
                margin: 216px 0 40px 0;
                font-size: 80px;
                letter-spacing: 4px;
                line-height: 22px;
                color: #ffffff;
                font-weight: bold;
                font-family: "Gotham";
                text-align: center;
                text-transform: uppercase;            
            }
    
            &__subtitle {
                width: 834px;
                height: 24px;
                font-size: 18px;
                letter-spacing: 5px;
                line-height: 22px;
                color: #ffffff;
                font-family: "Gotham";
                text-align: center;           
            }
        }
        
        &-aside {
            position: absolute;
            top: 140px;
            left: 97.5%;
            display: flex;
            align-items: center;

            &-nav {
                height: 206px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                &__link {
                    &-icon {
                        width: 10px;
                        height: 10px;
                        fill: none;
                        stroke: #fff;
                        
                        &:hover {
                            filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
                            fill: #fff;
                        }
    
                        &:focus {
                            fill: rgb(79, 216, 235);   
                        } 
                    }
                }
            }
        }
    }
    
    &-arrow {
        width: 100%;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: start;

        &__link {
            &-icon {
                width: 40px;
                height: 40px;
                fill: #fff;

                &:hover {
                        filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
                        fill: rgb(61, 89, 212);
                        opacity: .8;
                    }

                    &:focus {
                        fill: rgb(79, 216, 235);   
                    }  
            }
        }
    }
}