.prev, .next {
    position: absolute;

    &:hover {
        filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.8));
        opacity: .8;
    }

    &:focus {
        filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.8));
        fill: rgb(79, 216, 235);   
    } 
}

.prev {
    top: 238px;
    left: -60px;
}

.next {
    top: 238px;
    left: 1310px;
}